* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    color: #293264;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
}

main{
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    url("./assets/blob1.svg"),
    url("./assets/blob2.svg");

  background-repeat: no-repeat, no-repeat;

  background-position: top right, bottom left;

  background-size: 90px, 100px;
}

.btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 6px;
  padding: 0.7em 2.5em;
  display: inline-block;
  width: auto;
}

main > h1 {
  margin-bottom: 0;
}

main > p {
  margin-top: 0.5em;
  margin-bottom: 1.4em;
  font-size: 0.8em;
  font-weight: 300;
}



form {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-submit {
  font-size: 0.5em;
  font-weight: 400;
  padding: 1.1em 2.2em;

}


fieldset {
  border: none;
  width: 100%;
}

legend {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
label {
  font-size: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;

}



/*radio button is hidden but accessable*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/*label looks like button*/
.option-label {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}

.selected{
  background-color: #D6DBF5;
  border: none;
} 

.correct {
  border: none;
  background-color: #94D7A2;

}

.wrong{
    border: none;
    background-color: #F8BCBC;
}



hr {
  border: none;
  border-top: 1px solid #DBDEF0;
  margin-top: 0.8em;

}

/* Mobile Design */
@media (max-width: 600px) {
  body {
    padding: 1em;
    align-items: flex-start;
  }

  main {
    width: 100%;
    min-height: auto;
    padding: 1em 0;
    background-size: 60px, 70px;
  }

  form {
    padding: 1.5em;
  }

  main > h1 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }

  main > p {
    font-size: 0.7em;
    margin-bottom: 1em;
  }

  legend {
    font-size: 0.7em;
    margin-bottom: 0.8em;
  }

  label {
    font-size: 0.55em;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    display: inline-block;
  }

  .option-label {
    padding: 0.8em 1em;
    margin-bottom: 0.5em;
  }

  .btn-submit {
    font-size: 0.55em;
    padding: 1em 1.8em;
    width: 100%;
    margin-top: 1em;
  }

  hr {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}