* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    color: #293264;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
}

main{
  width: 130vmin;
  aspect-ratio: 1 / 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    url("./assets/blob1.svg"),
    url("./assets/blob2.svg");

  background-repeat: no-repeat, no-repeat;

  background-position: top right, bottom left;

  background-size: 90px, 100px;
}

.btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 6px;
  padding: 0.7em 2.5em;
  display: inline-block;
  width: auto;
}

main > h1 {
  margin-bottom: 0;
}

main > p {
  margin-top: 0.5em;
  margin-bottom: 1.4em;
  font-size: 0.8em;
  font-weight: 300;
}



form {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-submit {
  font-size: 0.5em;
  font-weight: 400;
  padding: 1.1em 2.2em;

}


fieldset {
  border: none;
  width: 100%;
}

legend {
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
label {
  font-size: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;

}



/*radio button is hidden but accessable*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/*label looks like button*/
.option-label {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}

.selected{
  background-color: #D6DBF5;
  border: none;
} 

.correct {
  border: none;
  background-color: #94D7A2;

}

.wrong{
    border: none;
    background-color: #F8BCBC;
}



hr {
  border: none;
  border-top: 1px solid #DBDEF0;
  margin-top: 0.8em;

}